<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=#{stock.title})}">
    <head>
    </head>
    <body>
        <section layout:fragment="content">
            <table class="ui celled table">
                <thead>
                <tr>
                    <th th:text="#{cart.movieTitle}">Titel</th>
                    <th th:text="#{cart.count}">Anzahl</th>
                </tr>
                </thead>
                <tbody th:remove="all-but-first">
                <tr th:each=" item : ${stock}">
                    <td th:text="${item.product.name}">Last Action Hero</td>
                    <td>

                        <form method="post" role="form" class="ui form" th:action="@{stock/refill/{id}(id=${item.id})}" >
                            <label th:text="${{item.quantity}}">9000 </label>
                            <button class="mini ui button" style="margin-left: 75%"> +10 </button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Last Action Hero</td>
                    <td>9000</td>
                </tr>
                <tr>
                    <td>Last Action Hero</td>
                    <td>9000</td>
                </tr>
                </tbody>
            </table>
        </section>
    </body>
</html>
